.screen {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  align-items: center;
  flex-wrap: wrap;
}

.inputWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.inputWrapper div {
  display: flex;
  flex-wrap: wrap;
}

.inputWrapper div:nth-of-type(1) {
  justify-content: flex-start;
}

.inputWrapper div:nth-of-type(2) {
  justify-content: flex-end;
}

.inputWrapper h4 {
  margin: 0;
}

.inputWrapper input {
  margin-left: 0.5em;
  margin-bottom: 1em;
  align-self: flex-start;
}
