.layout {
  top: 3em;
  position: relative;
  width: 90%;
  min-height: 50em;
  margin: auto;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 7px;
}
