.header {
  display: flex;
  align-items: center;
  width: 100%;
  background: #333;
}

.header nav {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  height: 100%;
  align-items: center;
}

.header h2 {
  width: 30%;
  display: flex;
  justify-content: center;
  padding: 0.5em 0;
  margin: 0.5em auto;
  border: 1px solid yellow;
  margin-right: 1em;
  font-size: large;
  border-radius: 0px;
  color: yellow;
}

.header nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.active {
  color: yellow !important;
}
